@import "../../.cache/wal/colors-waybar.css";

* {
    font-family: "JetBrains Mono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 0;
}

/* Make the main bar transparent so only the pills show */
window#waybar {
    background: transparent;
}

/* THE THREE PILLS */
.modules-left,
.modules-center,
.modules-right {
    background: @background;    /* Pywal Background */
    border: 2px solid @color1;  /* Pywal Accent Border */
    border-radius: 20px;
    padding: 2px 10px;
    margin: 5px 0px;
}

/* DESKTOPS PILL (Left) */
#workspaces button {
    color: @foreground;
    padding: 0 6px;
    margin: 0 2px;
}

#workspaces button.active {
    color: @color2;
}

/* RUNNING APP PILL (Center) */
#window {
    color: @color3;
    padding: 0 15px;
}

/* STATUS PILL (Right) */
#network, #pulseaudio, #backlight, #memory, #cpu, #battery, #clock {
    padding: 0 8px;
    background: transparent;
}

#battery { color: @color5; }
#network { color: @color5; }
#cpu { color: @color5; }
#clock { color: @foreground; }
#pulseaudio { color: @color5; }
#backlight { color: @color5; }
#memory { color: @color5; }


/* Remove any background from groups/drawers inside the pill */
#group-expand-2, #group-expand-3 {
    background: transparent;
    padding: 0;
}

/* Hide the drawer content background */
#backlight-slider, #pulseaudio-slider {
    margin: 0 5px;
}